<p id="notice"><%= notice %></p>

<h1>Senses</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Content</th>
      <th>Lexeme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @senses.each do |sense| %>
      <tr>
        <td><%= sense.type %></td>
        <td><%= sense.content %></td>
        <td><%= sense.lexeme %></td>
        <td><%= link_to 'Show', sense %></td>
        <td><%= link_to 'Edit', edit_sense_path(sense) %></td>
        <td><%= link_to 'Destroy', sense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sense', new_sense_path %>
