<%= form_with(model: lexeme, local: true) do |form| %>
  <% if lexeme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lexeme.errors.count, "error") %> prohibited this lexeme from being saved:</h2>

      <ul>
      <% lexeme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_field :headword, id: :lexeme_headword %>
  </div>

  <div class="actions">
    <%= form.submit "Add word to dictionary" %>
  </div>
<% end %>
