<p id="notice"><%= notice %></p>

<% showId = "show#{@lexeme.id}" %>
<% editId = "edit#{@lexeme.id}" %>

<div id="<%= showId %>" class="show">
  <div>
    <strong><%= @lexeme.headword %></strong>
    <% uriencoded = URI.escape(@lexeme.headword, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>
    <audio src="<%= "/tts/en/#{uriencoded}" %>" controls></audio>
    <%= link_to('Edit', '#', id: :edit, onclick: "ajaxEdit('#{lexeme_path(@lexeme)}.json', #{@lexeme.id})") %>
  </div>
  <div>
    <ol>
      <% @lexeme.senses.select { |sense| sense.approve }.each do |sense| %>
        <li><%= sense.content %></li>
      <% end %>
    </ol>

    <div class="pending">
      <strong>Pending:</strong>
      <ol>
        <% @lexeme.senses.select { |sense| !sense.approve }.each do |sense| %>
          <li>
            <%= sense.content -%>
            <% if current_user.admin? -%>
              <%= button_to('Approve', approve_path(sense.id), method: :patch) %>
            <% end -%>
          </li>
        <% end %>
      </ol>
    </div>

    <%# Add a new sense %>
    <% options =  %>
    <%= form_with(model: Sense.new) do |form| %>
      <%= form.select(:word_class, options_for_select(Lexeme::WORD_CLASS_PAIRS)) %>
 
      <%= form.text_field :content, id: :sense_content %>
      <%= form.hidden_field(:lexeme_id, value: @lexeme.id) %>

      <%= form.submit 'Add meaning' %>
    <% end %>
    
  </div>
</div>
<div id="<%= editId %>" class="edit">
  <%= form_with(model: @lexeme, method: :put) do |form| %>

    <div class="field">
      <strong>Word:</strong>
      <%= form.text_field :headword, value: @lexeme.headword, id: "lexeme_headword#{@lexeme.id}" %>
    </div>

    <div class="actions">
      <%= form.submit 'Save' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', lexemes_path %>

<script>
/*
  (function () {
    'use strict';

    var obj = document.getElementById('edit');
    obj.addEventListener('click', function () {
      apiRequest('<%= "#{lexeme_path(@lexeme)}.json" %>').then(function (resp) {
        document.getElementById('<%= showId %>').style.display = 'none';
        document.getElementById('<%= editId %>').style.display = 'block';
      });
      
    });
  })();*/
</script>